.neta-contact {
    .btn {
        background: $primary-color !important;
        color: #fff;
    }
    @include ttl-line();
    margin-bottom: 30px;
    &__form {
        background: $white;
        padding: 30px;
        width: 100%;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    span {
        color: $primary-color;
        padding-right: 20px;
        i {
            font-size: 24px;
        }
    }
    li {
        border-bottom: 1px solid #dedede;
        padding: 15px 0;
        display: flex;
        p {
            color: #1158b0;
            padding-left: 8px;
            margin-bottom: 0;
        }
    }
    form {
        .form-group {
            input {
                min-height: 52px;
            }
        }
        ::placeholder {
            color: #b1b1b1;
        }
        .form-group {
            margin-bottom: 30px;
        }
        textarea {
            min-height: 180px;
        }
        .btn-neta {
            @include btn-neta();
        }
    }
}

.neta-map {
    iframe {
        margin-bottom: -75px;
    }
}
