$primary-color:#B0117E;
$gradient:linear-gradient(90deg, rgba(148,81,159,1) 26%, rgba(52,56,134,1) 55%, rgba(0,159,225,1) 91%);
$gradient-hover:linear-gradient(90deg,rgba(0,159,225,1) 26%, rgba(52,56,134,1) 55%,rgba(148,81,159,1)  91%);
$text-color: #272424;
$white:#fff;
$box-shadow: 0 6px 12px #dedede;
$maroon:#b61616;
$purple:#6E2F9F