@media (max-width:992px) {

    .neta-banner .btn-neta{
        width: 185px;
    }
    .navbar-light .navbar-toggler {
        color: rgba(0,0,0,.5);
        border-color: transparent;
        position: absolute;
        position: absolute;
        right: 0;
        top: -64px;
        outline: none;
    }
    .navbar-collapse{
        position: absolute;
        background: rgb(255, 255, 255);
        width: 100%;
        left: 0;
        top: 0;
        z-index: 111;
        box-shadow: 0 10px 5px #dedede;
    }

    .neta-icn{
        position: absolute;
        right: 60px;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #000;
    }

    header .bg-light .nav-item{
        padding: 15px;
    }
    #vticker{
        width: 100% !important;
    }

    .neta-courses .course-img::after,.neta-courses .course-img::before{
        right: 0;
        display: none;
    }
   
    .neta-career .neta-head{
        margin:  0 !important;
    }

    .neta-courses .neta-head{
        margin: 40px 0 !important;
    }

  .neta-head p{
        padding: 15px
    }

    .neta-banner .item .neta-bg{
        height: 400px;
    }
    .neta-banner h1{
        font-size: 24px;
        margin-top: 15px;
    }

    .neta-banner{
        height: 100%;
    }

    .career-bg img{
        height: 100%;
        object-fit:cover
    }

    .neta-slog li{
        font-size: 42px;
    }
    .neta-banner h5{
        font-size: 16px;
    }
    .neta-download p{
        padding-top: 30px;
        font-size: 16px;
    }
    .neta-download .btn{
        float: left !important;
        margin-bottom: 20px;

    }

    .top-info__list{
        display: block !important;
    }

    .social-links .top-info__list{
        justify-content: left !important;
        padding: 5px 0;
        display: flex!important;
    }

    footer{
        padding-top: 60px;
    }
    .neta-selfcheck .container{
        padding:30px
    }
    .neta-selfcheck .container .btn{
        float: left !important;
    }
    .courses-wrap .course-enrolment__content{
        margin-bottom: 20px !important;
    }
    
    .neta-courses__content .col-lg-5{
        margin: 30px 0;
    }

    .neta-banner .item .neta-play img{
        width: 36px;
    }
    .neta-courses .course-img img{
        margin: 20px 0;
    }
    .courses-wrap__content{
        padding: 0;
    }
    .courses-wrap .intake-date .col-sm-8{
        padding: 30px;
    }
    .courses-wrap .intake-date__content .btn{
        width: 100% !important;
    }
   
}

@media (max-width: 992px) {

  
}

@media(max-width:768px) {
    
}

@media (max-width:576px) {
   
}

@media(max-width:768px) {
    .neta-ribbon h1{
        font-size: 30px;
    }
    .neta-ribbon li{
        font-size: 12px;
    }
    
}



@media(max-width:991px) {
   
}

@media (min-width:992px){
    header .bg-light .nav-item{
        padding:36px 5px;
}
}

@media (min-width:320px) and (max-width:992px){
    
}

@media (min-width:1400px){
    .container{
        max-width: 1300px;
    }
    .neta-banner .banner-content {
        position: absolute;
        top: 25%;
    }
}