@import "./variables";
@import "./header";
@import "./footer";
@import "./index";
@import "./neta-about";
@import "./neta-contact";
@import "./login";

a{
  text-decoration: none !important;
  color: #000;
}
.bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle{
  outline: 0 !important;
}
.navbar-light .navbar-nav .nav-link{
  color: #fff;
  text-transform: uppercase;
  padding: 0px 12px;
}

.btn-neta{
  transition: .5s all;
}
.neta-head{
  p{
    padding: 0 80px;
    padding-top: 15px;
  }
}

.neta-vid{
  padding: 60px 0;
}

.navbar-brand{
  img{
    width: 180px;
  }
}

#vticker{
  width: 600px !important;
}

.neta-enrolment{
  li{
    padding: 0 !important;
  }
  select{
    min-height: 52px;
  }
}