@import "./variables";
@import "./header";
@import "./footer";
@import "./index";
@import "./neta-about";
@import "./neta-contact";
@import "./login";
@import "./courses-wrap";
@import "./neta-catlog";
@import "./dashboard";
@import "./neta-quiz";
@import "./agent";
@import "./invoice";

a {
  text-decoration: none !important;
  color: #000;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: 0 !important;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
  padding: 0px 12px;
}

.btn-neta {
  transition: 0.5s all;
}
.neta-head {
  p {
    padding: 0 80px;
    padding-top: 5px;
  }
}

.neta-vid {
  padding: 60px 0;
}

.navbar-brand {
  img {
    width: 150px;
    padding:10px;
  }
}

#vticker {
  width: 600px !important;
}

.neta-enrolment {
  li {
    padding: 0 !important;
  }
  select {
    min-height: 52px;
  }
}

.neta-rect {
  &:before {
    content: "";
    background: #b0117e;
    width: 170px;
    height: 170px;
    position: absolute;
    top: -15px;
    left: 0px;
    z-index: -10;
    opacity: 0.5;
  }
}

.b-line {
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}

.student-hub {
  .my-courses__list{
    margin-top:30px
  }
  .b-line {
    padding: 20px 0;
  }
  .nav-tabs{
    border:0;
    .nav-links{
      background: #fff !important;
      margin: 0 5px;
    }
  }
  .nav{
    .active{
      color: #fdfeff;
    background-color: #b0117e;
    border-color: #dee2e6 #dee2e6 #fff;
    }
  }

  span {
    padding-bottom: 15px;
    display: block;
    color: #feb049;
  }
}

.nx-detail {
  h6 {
    color: $primary-color;
  }
  span {
    padding-top: 15px;
  }
  .b-line {
    padding: 0;
  }
  @include e-btn();

  .course-day {
    li {
      justify-content: space-between;
      align-items: baseline;
      &:nth-last-child(1) {
        border-bottom: 0;
      }
    }
    .neta-videos {
      margin-bottom: 15px;
      iframe {
        height: 180px;
      }
    }
  }
}

.neta-fees {
  h5 {
    padding-bottom: 20px;
    span {
      color: $primary-color;
      font-size: 30px;
      padding-left: 10px;
      font-weight: 600;
    }
  }
  .b-line {
    padding-bottom: 20px;
    p {
      margin-bottom: 0;
    }
    span {
      font-weight: 600;
      font-size: 16px;
      padding-top: 10px;
      color: $primary-color;
    }
  }
}

// .neta-fees{
//   background:#eaeaea
// }

.neta-bullet {
  ul {
    list-style: none;
    li {
      position: relative;
      padding-left: 30px;
      padding-bottom: 15px;
      &:before {
        content: ">";
        background: #120f4a;
        width: 20px;
        height: 20px;
        color: #fff;
        text-align: center;
        line-height: 1.4;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        padding-left: 2px;
      }
    }
  }
}

.neta-eml {
  color: #4d7ae0;
}

.neta-pplan {
  table {
    background: #fff;
    box-shadow: 0 0 20px #efefef;
  }
}

.neta-payment {
  color: #000 !important;
  table {
    font-size: 18px;
  }
  .form-group {
    margin-bottom: 15px !important;
  }

  .total {
    font-weight: 700;
  }
  .payment-method {
    img {
      background: #929292;
    }
  }
  .order-summary {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 30px;
    label {
      font-size: 14px;
      margin-bottom: 0;
      font-weight: 500;
      span {
        color: #f32929;
        font-size: 16px;
      }
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    li {
      border-bottom: 0;
    }
  }
  tr,
  td {
    border: 0;
  }

  .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
    margin-right: 20px;
  }

  .dropdown-toggle {
    min-height: 52px;
  }
}

.demo-quiz {
  h6 {
    padding: 10px 0;
  }
  .form-card {
    background: #fff;
    padding: 15px;
    border-radius: 4px;
    margin: 20px 0;
  }
  .demo-ans {
    min-height: 120px;
    border-radius: 4px;
    margin: 15px 0;
    display: none;
    .correct {
      background: rgba(191, 191, 191, 0.3);
      padding: 15px;
      border-radius: 4px;
    }
  }
  button {
    border: 0;
  }
}

#grad1 {
  @include e-btn();
  .btn {
    margin-top: -5px !important;
  }
  .previous {
    background: #a09e9e;
  }
}

.neta-lesson {
  .lesson-desc{
    background:#fff;
    padding: 20px;
    border-radius:4px
  }
  .lesson-parts {
    margin: 20px 0;
    border-bottom: 1px solid #dedede;
    padding-bottom: 15px;
    &:nth-last-child(1) {
      border-bottom: 0 !important;
    }
  }
  h5 {
    font-size: 18px;
    color: #6e2f9f;
  }
  span {
    display: inline-block;
  }
  .card {
    margin-bottom: 8px;
  }
  .card-header {
    padding: 10px;
    background: #f6f9fb;
    border-radius: 4px;
    .title {
      font-size: 16px;
      color: #b0127e;
      font-weight: 500;
    }
  }
  .card-body {
    padding: 15px;
    background: #f6f9fb;
  }
  a {
    display: block;
    color: #429bc5 !important;
  }

  @include e-btn();
  .btn{
    color: #fff;
    margin: 15px 0;
  }
}

.neta-user {
  position: relative;
  .user {
    li:hover {
      color: $primary-color;
    }
    ul {
      position: absolute;
      width: 150px;
      padding: 15px;
      position: absolute;
      left: -120px;
      box-shadow: 0 0 5px #dedede;
      background: #fff;
      z-index: 1;
      bottom: -110px;
      opacity: 0;
      visibility: hidden;
      transition: 0.5s all;
      cursor: pointer;
      li {
        padding: 5px 0;
      }
    }
    &:hover ul {
      opacity: 1;
      visibility: visible;
      transform: translateY(-5px);
      transition: 0.5s all;
    }
  }

  .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 220px;
    margin-right: 20px;
  }

  .dropdown-toggle{
    min-height: 52px;
  }
}

.neta-font{
  p,span{
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px !important;
}
li{
  list-style-type:none;
  display: flex;
  margin: 15px 0 !important;
  &:before{
    font-family: monospace;
  }
  p{
    // padding-left: 15px !important;
    margin: 0 !important;
    span{
      padding-left: 30px !important;
    }
  }
}
}

.neta-limit{
  font-size: 16px;
  font-weight: 200;
  color: #272424;
  text-align: left;
  height: 54px;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 15px;
}

.neta-action{
  .view{
    color:#4284d6!important;
    display: block;
    margin-bottom: 5px;
  }

  .download{
    color:#e0b720!important
  }

}

.nl-d{
  .btn{
    color: #fff !important;
  }
  span{
    padding-bottom: 5px;
  }
}